
 * {
    background: #D0F0C0;
}
h1, h2{
    color: #004953;
    font:  sans-serif;

}

p{
    color: #00695c;
    font: 15px Arial, sans-serif;

}

p::first-letter {

    font-size: 26px;
    font-family: Montserrat;
    color: #7D3C98;
  }
.imgg {
        width:  300px;
        height: 300px;
   }

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover {    text-decoration:underline;}


a:active { text-decoration: none; }

